<div class="row" style="margin-right: 4%; margin-left: .2%; margin-top: 4%">
  <div class="col-md-3">
    <div class="bg-mega">
      <h6 class="text-danger">Linhas deste Ambiente:</h6>
      <ul class="nav flex-column">
        <li class="nav-item" *ngFor="let linha of linhas">
          <a class="btn rounded-0 hvr-underline-from-center text-dark" style="font-weight: bold"
            routerLinkActive="active" [routerLink]="['/linha', linha.descricao]">{{linha.descricao}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-9 pl-0">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">HOME</a></li>
        <li class="breadcrumb-item active text-warning">AMBIENTE: {{ambiente | uppercase}}</li>
      </ol>
      <hr class="text-dark">
    </nav>
    <div>
      <h2 style="margin: 0" *ngIf="ambiente === 'Quarto'">Produtos para seu Quarto</h2>
      <h2 style="margin: 0" *ngIf="ambiente === 'Sala'">Produtos para sua Sala</h2>
      <h2 style="margin: 0" *ngIf="ambiente === 'Cozinha'">Produtos para sua Cozinha</h2>
      <h2 style="margin: 0" *ngIf="ambiente === 'Diversos'">Produtos Diversos</h2>
      <span style="background-color: rgba(243, 156, 18, 1);">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </div>
    <br>

    <div class="row">
      <div class="col-md-12">
        <a [routerLink]="['/oferta', produto.key]" *ngFor="let produto of produtos" style="padding: 3%"
          class="card info-widget flutuar" style="width: 18rem; margin: 1em">
          <img [src]="produto.cores[0].imagem[0].url || ''" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">{{produto.nome}}</h5>
            <div class="row">
              <div class="col">
                <p class="card-text pb-3">Por: {{ produto.cores[0].valor | currency: 'BRL' }}</p>
              </div>
            </div>
            <div class="text-center">
              <button class="btn btn-padrao" (click)="ofertaDetalhe(produto.key)" style="text-decoration: no">Ver
                Oferta</button>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>