.ordem-compra{
    margin: 50px 0 50px;
} 
.vazio {
    display: flex;
    min-height: 30vh;
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}

.vazio > span {
    font-size: 40px;
}