<div class="row" *ngIf="mostrar == 0">
  <div class="col-md-12 vazio">
    <span class="text-center">Seu Carrinho está Vazio!</span>
    <div>
      <button routerLink="/home" class="btn btn-lg btn-padrao">Ver Ofertas</button>
    </div>
  </div>
</div>
<!-- 
<div class="row" *ngIf="mostrar != 0">
  <div class="col-md-2">
    <a class="btn" routerLinkActive="active" routerLink="carrinho">Carrinho Compras</a>
  </div>
  <div class="col-md-2">
    <a class="btn" routerLink="dados-adicionais">Dados Adicionais</a>
  </div>
</div> -->
<router-outlet *ngIf="mostrar != 0"></router-outlet>