.ordem-compra{
    margin: 50px 0 50px;
}

input.ng-invalid.ng-touched{
    border: 1px solid red;
}

input.ng-valid.ng-touched{
    border: 1px solid green;
}

select.ng-invalid.ng-touched{
    border: 1px solid red;
}

select.ng-valid.ng-touched{
    border: 1px solid green;
}

/* ray */

.section-padding-100 {
    padding: 3%;
}
.cart-title > h2 {
    font-size: 30px;
    margin-bottom: 0;
    color: #242424;
}
.top-table {
   background-color:  #f5f7fa;
   border: 1px solid rgba(243, 156, 18, 1);
   border-radius: 20px;
}
.preco {
    padding-top: 10%;
    font-size: 25px;
    font-weight: bold
}

.esp-qtd {
    padding-top: 10%
}

.esp-num {
    margin-left: 3%;
    margin-right: 3%;
    font-size: 25px;
}

/* Sweep To Right */
.hvr-sweep-to-right {
    border-radius: 20px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    border-radius: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(243, 156, 18, 1);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
    color: black;
  }
  .hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  a {
      text-decoration: none;
      color: black
  }

  .cart-summary {
    background-color: #f5f7fa;
    border: 1px solid #C33C44;
    position: relative;
    z-index: 1;
    padding: 30px 20px;
  }
  li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 30px;
    text-transform: capitalize;
  }

  .btn-finalizar {
    display: inline-block;
    min-width: 160px;
    height: 55px;
    border: none;
    padding: 0 7px;
    font-size: 18px;
    line-height: 56px;
    font-weight: 400;
  }

.cep-top {
    padding-top: 5%;
}

.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}  
.vazio {
    display: flex;
    min-height: 30vh;
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}

.vazio > span {
    font-size: 40px;
}