.section-padding-100 {
    padding: 3%;
}

.cep-top {
    padding-top: 5%;
}

.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid rgba(195, 60, 68, 1) !important;
    -webkit-animation-name: teste;
    animation-name: teste;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

@keyframes teste {
    0% {
        border-bottom: 1px solid rgba(195, 60, 68, 0.5);
        width: 10%
    }
    25% {
        border-bottom: 1px solid rgba(195, 60, 68, 0.5);
        width: 25%
    }
    50% {
        border-bottom: 1px solid rgba(195, 60, 68, 0.5);
        width: 50%
    }
    75% {
        border-bottom: 1px solid rgba(195, 60, 68, 0.5);
        width: 75%
    }
    100% {
        border-bottom: 1px solid rgba(195, 60, 68, 1);
        width: 100%
    }
}

input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgba(195, 60, 68, 1) !important;
}

.top-btn-edt {
    padding-top: 1%;
}

.btn-finalizar {
    display: inline-block;
    min-width: 160px;
    height: 55px;
    border: none;
    padding: 0 7px;
    font-size: 18px;
    line-height: 56px;
    font-weight: 400;
}

.cart-summary {
    background-color: #f5f7fa;
    border: 1px solid #C33C44;
    position: relative;
    padding: 30px 20px;
}

a {
    cursor: pointer;
}

.link-voltar-carrinho {
    align-items: center !important;
    justify-items: center !important;
    justify-content: center !important
}

/* Underline From Center */

.hvr-underline-from-center {
    background-color: #f5f7fa;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: rgba(195, 60, 68, .9) !important;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 30px;
    text-transform: capitalize;
}

li span {
    font-weight: bold;
    font-size: 20px
}

li .total {
    font-weight: bold;
    font-size: 30px
}