<br>
<div class="row">
  <div class="col-sm-4">
    <h6>Avaliar Produto:
    <img src="assets/avaliacao.png" class="img-fluid"></h6>
  </div>
  <div class="col-sm-1">|</div>
  <div class="col-sm-7">
    <div class="form-check mb-2">
      <h6><input class="form-check-input" type="checkbox" id="autoSizingCheck">
      Lembrar deste produto</h6>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col">
    <!-- <form> -->
      <div class="form-row align-items-center">
        <div class="row">
          <div class="col-auto">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">@</div>
              </div>
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enviar link por email">
            </div>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-2">Enviar</button>
          </div>
        </div>
      </div>
    <!-- </form> -->
  </div>
</div>