<!-- Modal -->
<div class="modal fade" id="incluirLinha" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-body">
      <div class="modal-content" *ngIf="progressoPublicacao === 'pendente'">
        <form [formGroup]="formLinha" (ngSubmit)="adicionarLinha()">
          <div class="modal-header">
            <h5 class="modal-title d-flex justify-content-center" id="exampleModalLabel"><i class="fas fa-edit"></i>
              Adicionar Linha</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">A qual ambiente a Linha pertence?</label>
              <select class="form-control" formControlName="ambiente">
                <option [value]="ambiente.nome" *ngFor="let ambiente of ambientes">{{ambiente.nome}}</option>
              </select>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" formControlName="nome" placeholder="Nome da Linha" autofocus>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
        </form>
      </div>

      <div class="modal-content" *ngIf="progressoPublicacao === 'concluido'">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-check-circle"></i> Linha Criada</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          A nova Linha foi criada com sucesso!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
      </div>

    </div>
  </div>