<div class="row" style="background-color:  rgba(243, 156, 18, 1) !important">
    <div class="col-12 col-md">
      <img src="/src/assets/logo.png">
      <small style="margin-left: 5%;font-size: 20px" class="d-block mb-3">LoboDevelopers &copy; 2019</small>
    </div>
    <div class="col-6 col-md" style="padding: 20px">
      <h5 style="color: black">Formas de Pagamento</h5>
      <ul class="list-unstyled text-small">
        <li><a>Boleto</a></li>
        <li><a>Cartão de crédito</a></li>
        <li><a>Financiamento</a></li>
      </ul>
    </div>
    <div class="col-6 col-md" style="padding: 20px">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Resource</a></li>
        <li><a class="text-muted" href="#">Resource name</a></li>
        <li><a class="text-muted" href="#">Another resource</a></li>
        <li><a class="text-muted" href="#">Final resource</a></li>
      </ul>
    </div>
    <div class="col-6 col-md" style="padding: 20px">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Business</a></li>
        <li><a class="text-muted" href="#">Education</a></li>
        <li><a class="text-muted" href="#">Government</a></li>
        <li><a class="text-muted" href="#">Gaming</a></li>
      </ul>
    </div>
    <div class="col-6 col-md" style="padding: 20px">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Team</a></li>
        <li><a class="text-muted" href="#">Locations</a></li>
        <li><a class="text-muted" href="#">Privacy</a></li>
        <li><a class="text-muted" href="#">Terms</a></li>
      </ul>
    </div>
  </div>