<div class="oferta">
  <!-- <div class="row">
      <div class="col">
        <a [routerLink]="['/oferta', 1]">Oferta 1</a>
        <a [routerLink]="['/oferta', 2]">Oferta 2</a>
        <a [routerLink]="['/oferta', 3]">Oferta 3</a>
      </div>
    </div> -->

  <div class="row" style="margin: 4%;">
    <div class="col-md-7" style="overflow: hidden;">
      <div class="zoom">
        <img [src]="oferta.url_imagem || ''" class="img-zoom img-fluid" alt="">
      </div>
      <div class="row">
        <div class="col">
          <h5 style="color: black">Descrição: </h5>
          <pre>{{oferta.descricao_oferta}}</pre>
        </div>
      </div>
      <!-- <div class="thumbnails">
          <img *ngFor="let imagem of oferta.imagens" [src]="imagem.url" />
        </div> -->
    </div>

    <!-- <div class="col-md-6">
      <div style="background: #f5f7fa; border: 1px solid #E08345; padding: 5%;">
        <div class="row">
          <div class="col">
            <h2>{{oferta.titulo}}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>Por apenas</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h4>{{oferta.valor | currency: 'BRL'}}</h4>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button type="button" class="btn btn-warning btn-lg" (click)="adicionarItemCarrinho()">Adicionar ao
              carrinho</button>
          </div>
        </div>
        <div class="row" style="margin-top: 25px; margin-bottom: 150px;">
          <div class="col">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="detalhes-tab" data-toggle="tab" href="#detalhes" role="tab"
                  aria-controls="detalhes" aria-selected="true">Detalhes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="contato-tab" data-toggle="tab" href="#contato" role="tab" aria-controls="contato"
                  aria-selected="false">Mais
                  opções...</a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="detalhes" role="tabpanel" aria-labelledby="detalhes-tab">
                <pre>{{oferta.descricao_oferta}}</pre>
              </div>
              <div class="tab-pane fade" id="contato" role="tabpanel" aria-labelledby="contato-tab">
                <app-contato></app-contato>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <div class="col-md-5">
      <div style="background: #f5f7fa; border: 1px solid #C33C44; padding: 5%;">
        <div class="text-center">
          <h2>{{oferta.titulo}}</h2>
        </div>
        <!-- modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header" style="background-color: rgba(243, 156, 18, 1);">
                <h5 class="modal-title" id="exampleModalLongTitle" class="cor-titulo">Este Item foi adicionado no
                  carrinho!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col text-center">
                    <span style="font-size: 20px">{{oferta.titulo}}</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <img [src]="oferta.url_imagem || ''" class="img-fluid">
                  </div>
                  <div class="col">
                    <span>Cor: </span>
                    <p>{{oferta.cor}}</p>
                    <span>Marca</span>
                    <p>{{oferta.marca}}</p>
                    <span style="font-size: 25px">Valor: </span><span style="font-size: 25px">{{oferta.valor |
                      currency:
                      'BRL'}}</span>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" routerLink="/home" class="btn btn-padrao" data-dismiss="modal">Continuar
                  Comprando?</button>
                <button type="button" routerLink="/ordem-compra" class="btn btn-padrao" data-dismiss="modal">Ir para o
                  carrinho</button>
              </div>
            </div>
          </div>
        </div>
        <!-- fim do modal -->
        <div class="row">
          <div class="col text-center">
            <p><span>Cor: </span> {{oferta.cor}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p><span>Marca: </span> {{oferta.marca}}</p>
          </div>
          <div class="col">
            <p><span>Ambiente: </span> {{oferta.ambiente}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <span style="font-size: 25px">RECEBA EM CASA</span>
          </div>
          <div class="col text-right">
            <p><span style="font-size: 25px">{{oferta.valor | currency: 'BRL'}}</span></p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <span>Parcelas</span> <br>
            <button class="btn rounded-0 hvr-underline-from-center">Veja as condições</button>
          </div>
          <div class="col text-right">
            <p><span>12x sem juros de R$157,00</span></p>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col text-center">
            <span>{{movel.montar}}</span>
          </div>
        </div> -->

        <!-- <div class="row">
            <div class="col text-center">
              <span>Quantidade</span>
            </div>
          </div> -->
        <!-- <div class="row" style="margin-left: 32%; margin-right: 32%">
            <div class="col hvr-sweep-to-right text-center" style="width: 55px; border: 1px solid rgba(243, 156, 18, 1);">
              <span (click)="quantidadePorItem(movel, -1)" class="esp-num"><i class="fa fa-minus"></i></span>
              <span class="esp-num">{{movel.quantidade}}</span>
              <span (click)="quantidadePorItem(movel, 1)" class="esp-num"><i class="fa fa-plus" aria-hidden="true"></i></span>
            </div>
          </div> -->
        <div class="row">
          <div class="col text-center">
            <span>Disponível nas cores:</span>
            <div></div>
          </div>
          <div class="col text-center">
            <span class="m-1">Avalie este Produto</span>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
            <div class="estrelas">
              <input type="radio" id="cm_star-empty" name="fb" value="" checked />
              <label for="cm_star-1"><i class="fa"></i></label>
              <input type="radio" id="cm_star-1" name="fb" value="1" />
              <label for="cm_star-2"><i class="fa"></i></label>
              <input type="radio" id="cm_star-2" name="fb" value="2" />
              <label for="cm_star-3"><i class="fa"></i></label>
              <input type="radio" id="cm_star-3" name="fb" value="3" />
              <label for="cm_star-4"><i class="fa"></i></label>
              <input type="radio" id="cm_star-4" name="fb" value="4" />
              <label for="cm_star-5"><i class="fa"></i></label>
              <input type="radio" id="cm_star-5" name="fb" value="5" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col text-center" style="padding: 3%">
            <button (click)="adicionarItemCarrinho()" class="btn-finalizar btn-padrao" data-toggle="modal" data-target="#exampleModalCenter">Adicionar
              ao Carrinho</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div style="background: #f5f7fa; border: 1px solid #C33C44; padding: 5%; margin-top: 5%; margin-left: 3%;margin-right: 3%; width: 100%">
          <div class="col text-center">
            <h4><span>Frete e prazo de entrega</span></h4>
          </div>
          <div class="row">
            <div class="col text-center" style="padding: 2%">
              <div class="form-inline my-2 my-lg-0 text-center">
                <input class="form-control mr-sm-2" type="search" placeholder="Informe o CEP" aria-label="Search">
                <button class="btn btn-padrao my-2 my-sm-0" type="submit">Calcular Frete</button>
              </div>
            </div>
          </div>
          <div class="col text-center">
            <h4><span>Trocas & devoluçoes</span></h4>
          </div>
          <div class="row">
            <div class="col">
              <p>Compre no site e troque na loja se desejar!
                Você tem 7 dias para trocar o produto.</p>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <button class="btn rounded-0 hvr-underline-from-center">Veja as condições</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>