<div class="oferta">
  <div class="row" style="margin: 4%;">
    <div class="col-md-7" style="overflow: hidden;">
      <div class="zoom">
        <img [src]="imagem.url || ''" class="img-zoom img-fluid" alt="">
      </div>
      <div class="thumbnails">
        <div #scrollHorizontal class="middle">
          <a class="prev" (click)="scrollEsquerda()">&#10094;</a>
          <img id="img" *ngFor="let imagem of imagemCor; let i = index" (click)="imgHover(i)" [src]="imagem.url"/>
          <a class="next" (click)="scrollDireita()" style="margin-right: 15px">&#10095;</a>
        </div>
      </div>
    </div>
    <div class="col-md-5" *ngIf="oferta != ''">
      <div style="background: #f5f7fa; border: 1px solid #C33C44; padding: 5%;">
        <div class="text-center">
          <h2>{{oferta.nome}}</h2>
        </div>
        <div class="row">
          <div class="col">
            <p><span>Marca: </span> {{oferta.marca}}</p>
          </div>
          <div class="col">
            <p><span>Ambiente: </span> {{oferta.ambienteDescricao}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <span style="font-size: 25px">RECEBA EM CASA</span>
          </div>
          <div class="col text-right">
            <p><span style="font-size: 25px">{{valor | currency: 'BRL'}}</span></p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <span>Parcelas</span> <br>
            <button class="btn rounded-0 hvr-underline-from-center">Veja as condições</button>
          </div>
          <div class="col text-right">
            <p><span>12x sem juros de R$157,00</span></p>
          </div>
        </div>
        <span>Click na cor que deseja:</span>
        <div>
          <div class="row" style="width: 100%; margin-left: 1%">
            <a (click)="mostrarImg(i)" class="row diagonal" *ngFor="let a of codigos; let i = index">
              <div *ngFor="let b of a">
                <div [ngStyle]="{'background-color': b.hexa.hexa,'height':'30px','width': a.style}"></div>
              </div>
            </a>
          </div>
        </div>
        <div class="row text-center">
          <span class="m-1">Avalie este Produto</span>
          <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
          <div class="estrelas">
            <input type="radio" id="cm_star-empty" name="fb" value="" checked />
            <label for="cm_star-1"><i class="fa"></i></label>
            <input type="radio" id="cm_star-1" name="fb" value="1" />
            <label for="cm_star-2"><i class="fa"></i></label>
            <input type="radio" id="cm_star-2" name="fb" value="2" />
            <label for="cm_star-3"><i class="fa"></i></label>
            <input type="radio" id="cm_star-3" name="fb" value="3" />
            <label for="cm_star-4"><i class="fa"></i></label>
            <input type="radio" id="cm_star-4" name="fb" value="4" />
            <label for="cm_star-5"><i class="fa"></i></label>
            <input type="radio" id="cm_star-5" name="fb" value="5" />
          </div>
        </div>
        <div class="row">
          <div class="col text-center" style="padding: 3%">
            <button (click)="adicionarItemCarrinho()" class="btn-finalizar btn-padrao" data-toggle="modal"
              data-target="#exampleModalCenter">Adicionar
              ao Carrinho</button>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-7 pt-3">
      <h5>Ficha Técnica</h5>
      <table class="table" *ngFor="let comp of oferta.complementos">
        <tbody>
          <tr>
            <td style="width: 50%">{{comp.complemento}}</td>
            <td>{{comp.informacao}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-5">
      <div class="row">
        <div
          style="background: #f5f7fa; border: 1px solid #C33C44; padding: 5%; margin-top: 5%; margin-left: 3%;margin-right: 3%; width: 100%">
          <div class="col text-center">
            <h4><span>Frete e prazo de entrega</span></h4>
          </div>
          <div class="row">
            <div class="col text-center" style="padding: 2%">
              <div class="form-inline my-2 my-lg-0 text-center">
                <input class="form-control mr-sm-2" type="search" placeholder="Informe o CEP" aria-label="Search">
                <button class="btn btn-padrao my-2 my-sm-0" type="submit">Calcular Frete</button>
              </div>
            </div>
          </div>
          <div class="col text-center">
            <h4><span>Trocas & devoluçoes</span></h4>
          </div>
          <div class="row">
            <div class="col">
              <p>Compre no site e troque na loja se desejar!
                Você tem 7 dias para trocar o produto.</p>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <button class="btn rounded-0 hvr-underline-from-center">Veja as condições</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal -->
<div *ngIf="ofertaCarrinho != undefined" class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: rgba(243, 156, 18, 1);">
        <h5 class="modal-title" id="exampleModalLongTitle" class="cor-titulo">Este Item foi adicionado no
          carrinho!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col text-center">
            <span style="font-size: 20px">{{ofertaCarrinho.nome}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <img [src]="ofertaCarrinho.cor.imagem[0].url || ''" class="img-fluid">
          </div>
          <div class="col">
            <span>Cor: </span>
            <p>{{ofertaCarrinho.cor.nome}}</p>
            <span>Marca</span>
            <p>{{ofertaCarrinho.marca}}</p>
            <span style="font-size: 25px">Valor: </span><span style="font-size: 25px">{{ofertaCarrinho.cor.valor |
              currency:
              'BRL'}}</span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" routerLink="/home" class="btn btn-padrao" data-dismiss="modal">Continuar
          Comprando?</button>
        <button type="button" routerLink="/ordem-compra" class="btn btn-padrao" data-dismiss="modal">Ir para o
          carrinho</button>
      </div>
    </div>
  </div>
</div>
<!-- fim do modal -->