<div class="banner">
    <!-- <p>&nbsp;</p> -->
    <!-- <img src="/assets/banners/img_1.jpg" /> -->
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/home">HOME</a></li>
      <li class="breadcrumb-item active">AMBIENTE</li>
      <li class="breadcrumb-item active" aria-current="page">{{ambiente | uppercase}}</li>
    </ol>
  </nav>
  <div class="container">
    <div class="secao">
      <h3 class="text-center">Conforto, qualidade e muito mais!</h3>
      <h5 class="text-center">Conheça as melhores ofertas para você relaxar e descansar.</h5>
    </div>
  
    <hr />
  
    <div *ngFor="let produto of produtos" style="margin-bottom: 50px;">
  
      <div class="row">
        <div class="col-md-4">
          <img [src]="produto.url_imagem || ''" class="img-fluid" alt="">
        </div>
  
        <div class="col-md-8">
          <div class="row">
            <h4>{{produto.titulo}}</h4>
          </div>
  
          <!-- <div class="row">
              <h5>{{produto.descricao_oferta}}</h5>
            </div> -->
  
          <div class="row">
            <p>{{produto.valor | currency: 'BRL' }}</p>
          </div>
  
          <div class="row">
            <button class="btn btn-outline-success" [routerLink]="['/oferta', produto.key]">Ver oferta</button>
          </div>
        </div>
      </div>
  
      <hr />
  
    </div>
  
  </div>