<div class="container">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/home">HOME</a></li>
      <li class="breadcrumb-item active text-warning">LINHA: {{linha | uppercase}}</li>
    </ol>
    <hr class="text-dark">
  </nav>
  <div style="margin-left: 10%">
    <h2 style="margin: 0">{{linha | uppercase}}</h2>
    <span style="background-color: rgba(243, 156, 18, 1);">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  </div>
  <!-- <div class="secao">
          <h3>Conforto, qualidade e muito mais!</h3>
          <h5>Conheça as melhores ofertas para você relaxar e descansar.</h5>
        </div> -->
  <br>
  <div class="row">
    <div class="col-sm-4 card info-widget flutuar" *ngFor="let produto of produtos">
      <div class="text-center">
        <img class="img-fluid" [src]="produto.url_imagem || ''">
      </div>
      <div class="card-block padding">
        <h5 style="padding: 1%">{{produto.titulo}}</h5>
        <!-- <pre>{{ oferta.descricao_oferta | descricaoReduzida:100:0 }}</pre> -->
        <p style="padding: 1%">Por: {{ produto.valor | currency: 'BRL' }}</p>
        <div class="text-center">
          <button class="btn btn-padrao" [routerLink]="['/oferta', produto.key]">Ver Oferta</button>
        </div>
      </div>
    </div>
  </div>
  <br>

</div>