<!-- Modal -->
<div class="modal fade" id="incluirProduto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">

    <div class="modal-content" *ngIf="progressoPublicacao === 'pendente'">
      <form [formGroup]="formProduto" (ngSubmit)="adicionarProduto()">
        <div class="modal-header">
          <h5 class="modal-title d-flex justify-content-center" id="exampleModalLabel"><i class="fas fa-edit"></i> Adicionar Produto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Escolha o ambiente</label>
            <select class="form-control" formControlName="ambiente">
              <option [value]="ambiente.nome" *ngFor="let ambiente of ambientes">{{ambiente.nome}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Escolha a linha</label>
            <select class="form-control" formControlName="linha">
              <option [value]="linha.nome" *ngFor="let linha of linhas">{{linha.nome}}</option>
            </select>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" formControlName="titulo" placeholder="Título do Produto">
          </div>
          <div class="form-group">
            <textarea class="form-control" id="message-text" formControlName="descricao_oferta" placeholder="Descrição do produto"></textarea>
          </div>
          <div class="form-group">
              <input type="text" class="form-control" formControlName="marca" placeholder="Marca do Produto">
            </div>
          <div class="form-group">
            <input type="number" class="form-control" formControlName="valor" placeholder="Valor do Produto (apenas números)">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" formControlName="cor" placeholder="Cor do Produto">
          </div>
          <div class="form-group">
              <label for="">Deseja destacar o produto na página inicial?</label>
              <div class="form-check">
                <input class="form-check-input" type="radio" value="s" formControlName="destaque">
                <label class="form-check-label" for="sim">
                  Sim
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" value="n" formControlName="destaque">
                <label class="form-check-label" for="nao">
                  Não
                </label>
              </div>
            </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Imagem do Produto</label>
            <input type="file" class="form-control" accept="image/*" (change)="preparaImagemUpload($event)">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </form>
    </div>

    <div class="modal-content" *ngIf="progressoPublicacao === 'andamento'">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Enviando produto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Progresso: {{ porcentegemUpload }}%

        <div class="progress">
          <div class="progress-bar w-{{ porcentegemUpload }}"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>

    <div class="modal-content" *ngIf="progressoPublicacao === 'concluido'">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-check-circle"></i> Produto Enviado</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        O produto foi cadastrado com sucesso!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>

  </div>
</div>