<div class="container">
  <div class="row">
    <div class="col-sm-12 d-flex justify-content-center" style="padding: 50px">
      <div *ngIf="cadastro === 'cadastro'">
        <app-cadastro (exibirPainel)="exibirPainel($event)"></app-cadastro>
      </div>
      <div *ngIf="cadastro === 'recupSenha'">
        <app-recuperar-senha (exibirPainel)="exibirPainel($event)"></app-recuperar-senha>
      </div>
      <div *ngIf="cadastro === 'login'">
        <app-login (exibirPainel)="exibirPainel($event)"></app-login> 
      </div>
    </div>
  </div>
</div>