<h4><i class="fas fa-address-card"></i> Meus Pedidos</h4>
<div style="padding-bottom: 15px;">
  <div class="row" style="background:rgba(243, 194, 61, 1); color: black; font-weight: bold;">
    <div class="col-sm-4" style="border:1px solid rgba(195, 60, 68, 1)">
      # Pedido
    </div>
    <div class="col-sm-3" style="border:1px solid rgba(195, 60, 68, 1)">
      Data
    </div>
    <div class="col-sm-3" style="border:1px solid rgba(195, 60, 68, 1)">
      Valor
    </div>
    <div class="col-sm-2" style="border:1px solid rgba(195, 60, 68, 1)">
      Status
    </div>
  </div>
  <div *ngFor="let pedido of pedidos" class="row" style="background: #efefef; cursor: pointer;" (click)="selectPedido(pedido._id)">
    <div class="col-sm-4" style="border:1px solid rgba(195, 60, 68, 1)">
      {{pedido._id}}
    </div>
    <div class="col-sm-3" style="border:1px solid rgba(195, 60, 68, 1)">
      {{pedido.dataPedido | date: 'dd/MM/yyyy'}}
    </div>
    <div class="col-sm-3" style="border:1px solid rgba(195, 60, 68, 1)">
      {{pedido.pagamento.valorTotal | currency: 'BRL'}}
    </div>
    <div class="col-sm-2" style="border:1px solid rgba(195, 60, 68, 1)">
      <span *ngIf="pedido.statusPedido == 2">APROVADO</span>
      <span *ngIf="pedido.statusPedido == 1">PENDENTE</span>
      <span *ngIf="pedido.statusPedido == 0">CANCELADO</span>
    </div>
  </div>
</div>