<h4><i class="fas fa-address-card"></i> Meus Pedidos</h4>

<div class="row" style="background: #555; color: white; font-weight: bold;">
  <div class="col-sm-3" style="border:1px solid #bbb">
    ID Pedido
  </div>
  <div class="col-sm-7" style="border:1px solid #bbb">
    Itens
  </div>
  <div class="col-sm-2" style="border:1px solid #bbb">
    Status
  </div>
</div>
<div *ngFor="let pedido of pedidos" class="row" style="background: #efefef">
  <div class="col-sm-3" style="border:1px solid #bbb">
    {{pedido.key}}
  </div>
  <div class="col-sm-7" style="border:1px solid #bbb">
    <div class="row" *ngFor="let item of pedido.itens" style="margin:5px">
      <div class="col-md-3">
        <img [src]="item.img" alt="" class="img-fluid">
      </div>
      <div class="col-md-9">
        Produto: {{item.titulo}} <br>
        Quantidade: {{item.quantidade}}
      </div>
    </div>
  </div>
  <div class="col-sm-2" style="border:1px solid #bbb">
      {{pedido.statusPedido}}
  </div>
</div>