h5 {
    color:#999
}

h4 {
    color:#555
}

h3 {
    color: #555
}

.card img {
    height: 200px;
}

.secao {
    margin-top: 30px;
    margin-bottom: 30px
}

.preco {
    color: #f60;
    font-weight: bold;
    font-size: 20px
}

.box{
    margin-bottom: 50px;
}

.padding{
    padding: 10px;
}

.pTop{
    padding-top:150px;
}

.banner{
    border-bottom: 1px solid #bbb;
    background: url("/assets/banners/img_1.jpg") center top no-repeat;
    background-size: cover;
    height: 300px;
}