<div class="banner">
  <nav [ngClass]="{'menu-fixo': scrolNumber > 180}" id="stickyMenu" [class.sticky]="sticky"
    class="navbar navbar-expand-lg borda-top">
    <a class="fundo-img radius logo"><img src="../../assets/logo.png" routerLink="/home"></a>
    <a><img src="../../assets/logo_mobile.png" routerLink="/home" class="fundo-img radius logo-mobile"></a>
    <button id="nav-icon1" class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false"
      aria-label="Alterna navegação">
      <span> </span>
      <span> </span>
      <span> </span>
    </button>

    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul id="cor" class="navbar-nav mr-auto" style="width: 100% !important">
        <li class="nav-link text-center form-buscar">
          <span class="form-inline my-2 my-lg-0 pl-5 pr-5 pt-2">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar Produto" aria-label="Search">
            <button class="btn btn-padrao my-2 my-sm-0" type="submit">Buscar</button>
          </span>
        </li>
        <li class="nav-item" id="espaco">
          <a class="nav-link text-center" routerLinkActive="active" routerLink="/home">
            <img src="../../assets/home.png" class="img-fluid" style="width: 30px" />
            <br>Home
          </a>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link" routerLinkActive="active" routerLink="ordem-compra">
            <img src="../../assets/carrinho.png" class="img-fluid" style="width: 30px" />
            <br>Carrinho
          </a>
        </li>
        <li class="nav-item text-center" *ngIf="!autenticacao.token_id">
          <a class="nav-link" (click)="painelLogin()" routerLinkActive="active" data-toggle="modal" data-target="#modal-login">
            <img src="../../assets/login.png" class="img-fluid" style="width: 30px" />
            <br>Login
          </a>
        </li>
        <li class="nav-item text-center" *ngIf="autenticacao.token_id">
          <a class="nav-link" routerLinkActive="active" routerLink="cliente">
            <img src="../../assets/user.png" class="img-fluid" style="width: 30px" />
            <br>Minha Conta
          </a>
        </li>
        <li class="nav-item text-center" *ngIf="autenticacao.token_id">
          <button class="nav-link" (click)="sair()" style="background: transparent; border: none; cursor: pointer;">
            <img src="../../assets/sair.png" class="img-fluid" style="width: 30px" />
            <br>Sair
          </button>
        </li>
      </ul>
    </div>
  </nav>

  <div [ngClass]="{'fixo': scrolNumber > 180}" class="menu-ambiente row text-center">
    <div class="col-12 p-0 amb-links">
      <span id="esconder" style="height: 100%; background-color: #C33C44;">&nbsp;</span>
      <div id="amb" *ngFor="let ambiente of ambientes" class="largura-amb sacodida-horizontal dropdown"
        routerLinkActive="active" [routerLink]="['/ambiente', ambiente.nome]">
        <a id="link-amb">
          <!-- <img [src]="ambiente.url_imagem || ''" height="50" width="50"> -->
          <span style="font-weight: bold;">&nbsp;{{ambiente.nome}}</span>
        </a>
        <div class="dropbtn">
          <div class="dropdown-content">
            <ng-container *ngFor="let linha of linhas">
              <a class="encher" [routerLink]="['/linha', linha.descricao]" *ngIf="linha.ambiente == ambiente.nome">
                {{linha.descricao}}
              </a>
            </ng-container>
          </div>
        </div>
      </div>
      <span id="esconder" style="height: 100%; background-color: #C33C44;">&nbsp;</span>
    </div>
  </div>
</div>