<!-- ==========================começo menu alexandre ==================================== -->

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: rgba(255, 255, 255, 0.555) !important; width: 100%">
  <a class="navbar-brand" routerLink="/"><img src="/assets/logo.png" class="img-fluid" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
    aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto"> -->
<!-- ============================== ja estava comentado ======================== -->
<!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Ação</a>
          <a class="dropdown-item" href="#">Outra ação</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Algo mais aqui</a>
        </div>
      </li> -->
<!-- <li class="nav-item" *ngFor="let ambiente of ambientes">
        <a class="nav-link text-center" routerLinkActive="active" [routerLink]="['/ambiente', ambiente.nome]">
          <img [src]="ambiente.url_imagem || ''" alt="" style="width: 50px">
          <br>{{ambiente.nome}}
        </a>
      </li> -->

<!-- ================================= fim comentado ============================ -->

<!-- ============================ menu alexandre ============================== -->
<!-- <li class="nav-link text-center">
        <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar oferta" #termoDaPesquisa (keyup)="pesquisa(termoDaPesquisa.value)"
          aria-label="Pesquisar">
        <ul class="list-group" style="position: absolute; background: #fff; z-index: 1000">
          <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let oferta of ofertas | async">
            <a [routerLink]="['/oferta', oferta.key]" (click)="limpaPesquisa()">
              {{oferta.titulo | descricaoReduzida:20:0 }} -->
<!-- <span class="badge badge-primary badge-pill">7</span> -->
<!-- </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link text-center" routerLinkActive="active" routerLink="/home">
          <img src="/assets/home.png" class="img-fluid" style="width: 30px" />
          <br>Home
        </a>
      </li>
      <li class="nav-item text-center">
        <a class="nav-link" routerLinkActive="active" routerLink="ordem-compra">
          <img src="/assets/carrinho.png" class="img-fluid" style="width: 30px" />
          <br>Carrinho
        </a>
      </li>
      <li class="nav-item text-center" *ngIf="!autenticacao.token_id">
        <a class="nav-link" routerLinkActive="active" routerLink="acesso">
          <img src="/assets/login.png" class="img-fluid" style="width: 30px" />
          <br>Login
        </a>
      </li>
      <li class="nav-item text-center" *ngIf="autenticacao.token_id">
        <a class="nav-link" routerLinkActive="active" routerLink="cliente">
          <img src="/assets/user.png" class="img-fluid" style="width: 30px" />
          <br>Minha Conta
        </a>
      </li>
      <li class="nav-item text-center" *ngIf="autenticacao.token_id">
        <button class="nav-link" (click)="sair()" style="background: transparent; border: none; cursor: pointer;">
          <img src="/assets/sair.png" class="img-fluid" style="width: 30px" />
          <br>Sair
        </button>
      </li>
    </ul>
  </div>
</nav> -->
<!-- ===========================================fim================================= -->


<nav class="navbar navbar-expand-lg borda-top">
  <a><img src="/src/assets/logo.png" height="120" width="300" class="fundo-img radius"></a>
  <button id="nav-icon1" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
    aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span> </span>
    <span> </span>
    <span> </span>
  </button>

  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul id="cor" class="navbar-nav mr-auto" style="width: 100% !important">
      <li class="nav-link text-center" style="border-right: 1px solid #bbb">
        <div class="form-inline my-2 my-lg-0 pl-5 pr-5">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </div>
      </li>
      <li class="nav-item pl-5" id="espaco">
        <a class="nav-link text-center" routerLinkActive="active" routerLink="/home">
          <img src="/src/assets/home.png" class="img-fluid" style="width: 30px" />
          <br>Home
        </a>
      </li>
      <li class="nav-item text-center">
        <a class="nav-link" routerLinkActive="active" routerLink="ordem-compra">
          <img src="/src/assets/carrinho.png" class="img-fluid" style="width: 30px" />
          <br>Carrinho
        </a>
      </li>
      <li class="nav-item text-center" *ngIf="!autenticacao.token_id">
        <a class="nav-link" routerLinkActive="active" routerLink="acesso">
          <img src="/src/assets/login.png" class="img-fluid" style="width: 30px" />
          <br>Login
        </a>
      </li>
      <li class="nav-item text-center" *ngIf="autenticacao.token_id">
        <a class="nav-link" routerLinkActive="active" routerLink="cliente">
          <img src="/user.png" class="img-fluid" style="width: 30px" />
          <br>Minha Conta
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="banner">
  &nbsp;
</div>