.menu {
    background: #000
}

.nav-link {
    color: #C1E4FF
}

.nav-link:hover{
    color: #FFF
}

.active {
    color: #FFF ;
}

.topo{
    background: #FFF
}

.nav-item{
    padding: 5px 10px;
    vertical-align: bottom
}

.navbar{
    position: absolute;
    background: transparent !important;
    /* height: 300px; */

}

.navbar-collapse{
    z-index: 1100;
}

.navbar-collapse ul li{
    opacity:1;
}

.navbar-toggler{
    background: #efefef;
}

@media(max-width: 500px){
    .navbar-collapse{
        background: #efefef;
        padding: 10px;
        border-radius: 0 5px 5px 5px;
        z-index: 1100;
        opacity:1;
    }
}

.esp-icone {
    padding: 15px !important;
    height: 180px;
}
.esp-busca {
    z-index: 1; 
    position: absolute;
    top: 32%;
    left: 35%;
}

.icones {
    top: -90px !important
}

.cor-dropdown {
    background-color: rgba(243, 156, 18, 0.7);
}

.cor-dropdown:hover {
    background-color: rgba(243, 156, 18, 1);
}

/* dropdown */
.dropbtn {
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  } 

/* fim dropdown */

.info-widget {
    padding: 5px;
    display: inline-block;
  }

  .middle {
    float: left;
    padding: 20px;
    width: 100%;
    overflow: auto;
    /*will change this to hidden later to deny scolling to user*/
    white-space: nowrap;
  }

  a{
      text-decoration: none;
  }

  /* slide produtos */
  
  @media (min-width: 768px) {
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item {
    display: block;
  }

  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
    transition: none;
  }

  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;
    z-index: -1;
    display: block;
    visibility: visible;
  }
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }


  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}

/* efeitos */

@keyframes sacodida {
    16.65% {
      -webkit-transform: translateX(8px);
      transform: translateX(8px);
    }
    33.3% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }
    49.95% {
      -webkit-transform: translateX(4px);
      transform: translateX(4px);
    }
    66.6% {
      -webkit-transform: translateX(-2px);
      transform: translateX(-2px);
    }
    83.25% {
      -webkit-transform: translateX(1px);
      transform: translateX(1px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }

  .sacodida-horizontal {
    /* display: inline-block;
    vertical-align: middle; */
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    /* box-shadow: 0 0 1px rgba(0, 0, 0, 0); */
  }
  .sacodida-horizontal:hover, .sacodida-horizontal:focus, .sacodida-horizontal:active {
    -webkit-animation-name: sacodida;
    animation-name: sacodida;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }

  .encher {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  .encher:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(243, 156, 18, 1);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .encher:hover, .encher:focus, .encher:active {
    color: white;
  }
  .encher:hover:before, .encher:focus:before, .encher:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}


@media only screen and (max-width: 654px) {
  #esconder {
    display: none;
  }
  .esp-busca {
    z-index: 1; 
    position: absolute;
    top: 12%;
    left: 25%;
}
}

@media only screen and (max-width: 580px) {
  .esp-busca {
    display: none;
}
}

/* .img {
  top: -3em;
  z-index: 1;
  background-image: url("/src/assets/tema_carnaval/confetes_top.svg")
} */

.flutuar{
  /* width: 300px;
  height: 500px; */
  background: white;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
}
.flutuar:hover{
  transform: scale(1);
  box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
}

.prev, .next {
  z-index: 1;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgba(243, 156, 18, 1) !important;
  background-color: rgba(0,0,0,0.3);
  font-weight: bold;
  font-size: 35px;
  transition: 0.6s ease;
  border-radius: 0 20px 20px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 20px 0 0 20px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 18px}
}

a {
  cursor: pointer;
}