<!--============================ inicio area do cliente alexandre ===========================-->
<!-- <div class="container">
  <div class="row text-center">
    <div class="col-sm-12" style="margin: 50px 0 20px">
      <h2>Minha Conta</h2>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-sm-12" style="margin: 0 0 30px">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <button class="btn btn-warning" (click)="alterarLink('inicio')"><i class="fas fa-home"></i> Início</button>
        </li>
        <li class="nav-item">
          <button class="btn btn-warning" (click)="alterarLink('pedidos')"><i class="fas fa-cart-arrow-down"></i> Meus
            Pedidos</button>
        </li>
        <li class="nav-item">
          <button class="btn btn-warning" (click)="alterarLink('chamados')"><i class="fas fa-address-card"></i> Meus
            Chamados</button>
        </li>
        <li class="nav-item">
          <button class="btn btn-warning" (click)="alterarLink('editarPerfil')"><i class="fas fa-user"></i> Editar
            Perfil</button>
        </li>
      </ul>

    </div>
  </div>

  <div class="row text-center">
    <div class="col-sm-12" style="padding-bottom: 50px">

      <div *ngIf="link === 'inicio'">
          <p>Seja bem-vindo, <strong>{{usuario.nome}}</strong>.</p>
      </div>
      <app-editar-perfil *ngIf="link === 'editarPerfil'"></app-editar-perfil>
      <app-chamados #chamados *ngIf="link === 'chamados'"></app-chamados>
      <app-pedidos *ngIf="link === 'pedidos'"></app-pedidos>

    </div>
  </div>
  <app-adicionar-chamado (consultarChamados)="consultarChamados()"></app-adicionar-chamado>
</div> -->
<!--=========================================== fim =================================================-->

<!-- meu codigo ray -->
<!-- <div class="section-padding-100">
  <div class="row">
    <div class="col-2">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active btn-padrao" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
          aria-controls="v-pills-home" aria-selected="true" (click)="alterarLink('inicio')"><i class="fas fa-home"></i>
          Início</a>
        <a class="nav-link btn-padrao" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
          aria-controls="v-pills-profile" aria-selected="false" (click)="alterarLink('pedidos')"><i
            class="fas fa-cart-arrow-down"></i> Meus
          Pedidos</a>
        <a class="nav-link btn-padrao" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
          aria-controls="v-pills-messages" aria-selected="false" (click)="alterarLink('chamados')"><i
            class="fas fa-address-card"></i> Meus
          Chamados</a>
        <a class="nav-link btn-padrao" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
          aria-controls="v-pills-settings" aria-selected="false" (click)="alterarLink('editarPerfil')"><i
            class="fas fa-user"></i> Editar
          Perfil</a>
      </div>
    </div>
    <div class="col-10">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
          <div *ngIf="link === 'inicio'">
            <p>Seja bem-vindo, <strong>{{usuario.nome}}</strong>.</p>
          </div>
        </div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
          <app-pedidos *ngIf="link === 'pedidos'"></app-pedidos>
        </div>
        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
          <app-chamados #chamados *ngIf="link === 'chamados'"></app-chamados>
        </div>
        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
          <app-editar-perfil *ngIf="link === 'editarPerfil'"></app-editar-perfil>
        </div>
      </div>
    </div>
  </div>
  <app-adicionar-chamado (consultarChamados)="consultarChamados()"></app-adicionar-chamado>
</div> -->

<div class="wrapper">
  <nav id="sidebar" style="border-right: 1px solid rgba(195, 60, 68, 1) !important;">
    <div class="sidebar-header">
      <h3 style="color: black">Area do Cliente</h3>
    </div>
    <ul class="list-unstyled components">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active btn-padrao" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
          aria-controls="v-pills-home" aria-selected="true" (click)="alterarLink('inicio')"><i class="fas fa-home"></i>
          Início</a>
        <a class="nav-link btn-padrao" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
          aria-controls="v-pills-profile" aria-selected="false" (click)="alterarLink('pedidos')"><i
            class="fas fa-cart-arrow-down"></i> Meus
          Pedidos</a>
        <a class="nav-link btn-padrao" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
          aria-controls="v-pills-messages" aria-selected="false" (click)="alterarLink('chamados')"><i
            class="fas fa-address-card"></i> Meus
          Chamados</a>
        <a class="nav-link btn-padrao" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
          aria-controls="v-pills-settings" aria-selected="false" (click)="alterarLink('editarPerfil')"><i
            class="fas fa-user"></i> Editar
          Perfil</a>
      </div>
    </ul>
  </nav>
  <div class="cont">
    <nav class="navbar navbar-default" id="btn-collapse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" id="sidebarCollapse" class="btn btn-padrao">
            <i class="glyphicon glyphicon-align-left"></i>
            <span>Menu</span>
          </button>
        </div>
      </div>
    </nav>
    <div class="col-12">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
          <div *ngIf="link === 'inicio'">
            <p>Seja bem-vindo, <strong>{{usuario.nome}}</strong>.</p>
          </div>
        </div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
          <app-pedidos *ngIf="link === 'pedidos'"></app-pedidos>
        </div>
        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
          <app-chamados #chamados *ngIf="link === 'chamados'"></app-chamados>
        </div>
        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
          <app-editar-perfil *ngIf="link === 'editarPerfil'"></app-editar-perfil>
        </div>
      </div>
    </div>
  </div>
  <app-adicionar-chamado (consultarChamados)="consultarChamados()"></app-adicionar-chamado>
</div>